@charset "UTF-8";
/*Police roboto*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
/*colors and font*/
/**/
/*mixin*/
@keyframes after-animation {
  0% {
    transform: scale(1.05);
    filter: brightness(115%);
    box-shadow: 0.1rem 0.2rem 0.5rem 0.1rem #727272;
  }
  100% {
    transform: scale(1);
    filter: brightness(100%);
    box-shadow: 0rem 0.2rem 0.5rem 0.2rem #d8d8d8;
  }
}
@keyframes hover-animation {
  100% {
    transform: scale(1.05);
    filter: brightness(115%);
    box-shadow: 0.1rem 0.2rem 0.5rem 0.1rem #727272;
  }
}
/*global*/
* {
  font-size: 1rem;
}

html {
  font-family: "roboto light 300", sans-serif;
  max-width: 100%;
}

body {
  margin: 0rem;
  height: fit-content;
}

main {
  background-color: #f9f5f9;
}

article, figure {
  margin-right: auto;
  margin-left: auto;
}

a {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
  color: initial;
}

.article-title {
  font-family: "roboto black 900", sans-serif;
  font-size: 1.5rem;
  margin: 1rem 1rem 1rem 1.5rem;
  text-align: left;
}

.primary-button {
  color: white;
  padding: 0.9rem;
  background: #9356dc;
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.9530864198) 34%, rgba(255, 121, 218, 0.7975308642) 100%);
  border: 0rem transparent;
  border-radius: 2.5rem;
  margin: 1rem 0rem 3.5rem 0rem;
  box-shadow: 0rem 0.2rem 0.5rem 0.2rem #d8d8d8;
  z-index: 1;
  animation: after-animation 0.5s ease-in-out backwards;
}
.primary-button--restaurant {
  margin-left: 30%;
}
.primary-button:hover {
  animation: hover-animation 0.5s ease-in-out both;
}

/*header*/
.nav {
  text-align: center;
  padding: 0.5rem 0rem 0.5rem 0rem;
  box-shadow: 0rem 0.2rem 0.5rem 0.2rem #d8d8d8 0.2rem 0.2rem 0.2rem 0rem;
}
.nav__home {
  color: #262626;
  margin: 0.2rem 0rem 0rem 1.5rem;
  float: left;
  transition: scale 300ms ease-in-out;
}
.nav__home:hover {
  transform: scale(1.3);
}
.nav__logo {
  width: 9.5rem;
}

/*loader*/
.loader, .loader__background {
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  height: 0rem !important;
}

.loader::after {
  content: "";
  width: 5rem;
  height: 5rem;
  border: 0.5rem solid #99E2D0;
  border-top-color: #9356dc;
  border-radius: 50%;
  animation: loader 3s ease-in-out 1;
  opacity: 0;
  position: sticky;
}

@keyframes loader {
  0% {
    transform: scale(0.9) rotate(-90deg);
    opacity: 0.8;
  }
  40% {
    transform: scale(1.6);
  }
  50% {
    transform: scale(1.5) rotate(180deg);
  }
  80% {
    transform: scale(1.2);
  }
  88% {
    opacity: 0.8;
  }
  100% {
    transform: scale(0.9) rotate(280deg);
  }
}
.loader__background::after {
  content: "";
  width: 5rem;
  height: 5rem;
  border: 0.5rem transparent;
  background: radial-gradient(circle, #9356dc 15%, #ff79da 43%);
  border-radius: 50%;
  animation: loader__background 3s ease-in-out 1;
  rotate: 0turn;
  opacity: 0;
}

@keyframes loader__background {
  0% {
    transform: scale(0.7);
    opacity: 1;
  }
  50% {
    transform: scale(1.45);
  }
  85% {
    transform: scale(0.8);
  }
  85% {
    opacity: 1;
  }
  99% {
    transform: scale(0.7);
  }
  100% {
    display: none;
  }
}
.loader--full-height, .loader__background {
  align-items: center;
  height: 100%;
}

.loader__logo {
  position: relative;
  width: 10rem;
}

header, main, footer {
  /*animation-name: page;*/
  animation-duration: 2.9s;
  animation-fill-mode: forwards;
}

@keyframes page {
  0% {
    transform: translate x(-500%);
    opacity: 0;
  }
  99% {
    transform: translate x(-500%);
    opacity: 0;
  }
}
/*main*/
/*article explanation*/
.local-food {
  background-color: #f9f5f9;
}
.local-food__you-are-here {
  background-color: #f2f2f2;
  color: #595959;
  padding: 0.9rem 0.5rem 0.9rem 0rem;
  margin-top: 0.2rem;
  text-align: center;
  font-weight: bold;
  border-bottom: #e6e6e6 0.1rem solid;
}
.local-food__you-are-here::before {
  font-family: "fontawesome";
  color: #666666;
  padding: 0rem 1rem 0rem 0.1rem;
  font-size: 1.1rem;
  width: 1rem;
  content: "";
}
.local-food__explore-div {
  text-align: center;
  margin: 2.5rem 2.1rem 0rem 2.1rem;
}
.local-food__explore-div p {
  color: #595959;
}

.how-to-order {
  margin: 3rem 0rem 6rem 0rem;
  text-align: center;
}
.how-to-order__flexbox {
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-evenly;
  list-style: none;
  padding: 0rem;
}
.how-to-order li {
  margin: 2.2rem 0rem 2.2rem 1rem;
  width: 20rem;
}

.how-to-order__list-number {
  font-size: 0.9rem;
  background-color: #9356DC;
  padding: 0.2rem 0.4rem 0.1rem 0.4rem;
  color: white;
  border-radius: 4rem;
  left: 0.5rem;
  position: relative;
}

.how-to-order__box {
  padding: 1.5rem 4rem 1.5rem 2rem;
  background-color: #f9f5f9;
  border: 0.1rem transparent #c1ede2;
  border-radius: 1rem;
  margin-left: 0rem;
  font-size: 0.9rem;
  font-weight: bold;
  box-shadow: 0rem 0.2rem 0.5rem 0.2rem #d8d8d8;
}
.how-to-order__box--1::before {
  font-family: "fontawesome";
  color: #666666;
  padding: 0rem 1rem 0rem 0.1rem;
  font-size: 1.1rem;
  width: 1rem;
  content: "";
}
.how-to-order__box--2::before {
  font-family: "fontawesome";
  color: #666666;
  padding: 0rem 1rem 0rem 0.1rem;
  font-size: 1.1rem;
  width: 1rem;
  content: "";
}
.how-to-order__box--3 {
  background-color: #f5eff5;
}
.how-to-order__box--3::before {
  font-family: "fontawesome";
  color: #666666;
  padding: 0rem 1rem 0rem 0.1rem;
  font-size: 1.1rem;
  width: 1rem;
  content: "";
  color: #9356DC;
}

.restaurants {
  background-color: #f9f5f9;
  padding: 2rem 0.5rem 2rem 0rem;
}

.restaurants__flexbox {
  display: flex;
  flex-flow: column nowrap;
}

.restaurants__box {
  width: fit-content;
  height: 15.8rem;
  margin: 1rem;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0rem 0.2rem 0.5rem 0.2rem #d8d8d8;
  animation: after-animation 0.5s ease-in-out backwards;
}
.restaurants__box:hover {
  animation: hover-animation 0.5s ease-in-out both;
}

figure {
  margin: 0rem;
}

figure img {
  width: 21rem;
  height: 10.6rem;
  object-fit: cover;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
}

figcaption {
  margin: 0.5rem 0rem 0rem 0.5rem;
}

.restaurants__title {
  margin: 1rem 0rem 0.5rem 0rem;
}

.restaurants__location {
  margin: 0.5rem 0rem 0rem 0rem;
  font-weight: normal;
}

.restaurants__new {
  position: relative;
  top: -14rem;
  left: 15rem;
  background-color: #99E2D0;
  color: #278870;
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
}

.empty {
  position: relative;
  right: -13rem;
  top: -2rem;
  font-size: 1.5rem;
  color: #b3b3b3;
  cursor: pointer;
}
.empty:hover .fas.fa-heart {
  transform: scale(1);
}

.fas.fa-heart {
  font-size: 1.5rem;
  position: relative;
  right: 1.45rem;
  color: #9356DC;
  transform: scale(0);
  transition: transform 500ms cubic-bezier(1, 0.16, 0.58, 1.95);
}

/*footer*/
footer {
  background-color: #333333;
  padding-bottom: 1rem;
}

footer .logo {
  width: 5.6rem;
  fill: white;
  margin: 1.5rem 0rem 0.5rem 1.5rem;
}

footer a {
  color: white;
}

footer .about {
  list-style: none;
  padding: 0rem;
}

footer .about li {
  margin: 1rem;
  font-size: 0.9rem;
}

.fa-utensils, .fa-hands-helping {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

/*Restaurant menu*/
.restaurant-intro {
  position: relative;
}
.restaurant-intro figcaption {
  margin: 0rem;
  height: 3rem;
}
.restaurant-intro__image {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  opacity: 0.9;
  border-radius: 0rem;
}
.restaurant-intro__name {
  width: 100%;
  text-align: center;
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  color: #262626;
  border: solid #f9f5f9;
  border-radius: 1.5rem;
  padding: 0.5rem 0rem 0.5rem 0rem;
  position: absolute;
  bottom: 0.5rem;
  right: 0rem;
  background-color: #f9f5f9;
}

.far.fa-heart.empty--menu {
  top: 0rem;
  right: -3.2rem;
}
.far.fa-heart.empty--menu .fill--menu {
  right: 1.9rem;
}

@keyframes food-item__animation {
  0% {
    transform: translatex(-5rem);
    opacity: 0;
  }
  100% {
    transform: translatex(0rem);
    opacity: 1;
  }
}
.restaurant__menu {
  display: flex;
  flex-flow: nowrap column;
}
.restaurant__menu__flexbox {
  display: flex;
  flex-flow: nowrap column;
  color: #262626;
  margin: 0.5rem 0rem 0.9rem 0rem;
}
.restaurant__menu__flexbox__title {
  font-size: 1.2;
  font-weight: lighter;
  margin: 0.5rem 0rem 1rem 1.3rem;
}
.restaurant__menu__flexbox__title__border {
  border-bottom: 0.2rem solid #99E2D0;
  padding-bottom: 0.25rem;
}
.restaurant__menu__flexbox__food-item {
  box-shadow: 0rem 0.2rem 0.5rem 0.2rem #d8d8d8;
  width: 21rem;
  height: 2.2rem;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 0rem 1rem 0.7rem;
  margin: 0.5rem 0.5rem 0.5rem 1rem;
  animation: food-item__animation 200ms ease-in-out;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-delay: 250ms;
}
.restaurant__menu__flexbox__food-item:nth-child(1) {
  animation-delay: 200ms;
}
.restaurant__menu__flexbox__food-item:nth-child(2) {
  animation-delay: 400ms;
}
.restaurant__menu__flexbox__food-item:nth-child(3) {
  animation-delay: 600ms;
}
.restaurant__menu__flexbox__food-item:nth-child(4) {
  animation-delay: 800ms;
}
.restaurant__menu__flexbox__food-item:hover .restaurant__menu__flexbox__food-item__box__order-animation {
  display: flex;
  -webkit-animation: slide-down 0.2s ease-out;
  -moz-animation: slide-down 0.2s ease-out;
  /*display: flex;
  animation: food-order 1s both;*/
}
.restaurant__menu__flexbox__food-item:hover .restaurant__menu__flexbox__food-item__box__order-animation__icon {
  animation: icon-animation 0.6s forwards;
}
.restaurant__menu__flexbox__food-item:hover .restaurant__menu__flexbox__food-item__box__text__comment__ingredients {
  animation: ingredients-ellipsis 0.3s forwards;
}
.restaurant__menu__flexbox__food-item__box {
  height: 3em;
  display: flex;
}
.restaurant__menu__flexbox__food-item__box__text {
  width: 100%;
}
.restaurant__menu__flexbox__food-item__box__text__title {
  font-size: 1rem;
  margin: 0rem 0rem 0.2rem 0rem;
  height: 1rem;
}
.restaurant__menu__flexbox__food-item__box__text__comment {
  display: flex;
  justify-content: space-between;
}
.restaurant__menu__flexbox__food-item__box__text__comment__ingredients {
  font-size: 0.9rem;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__menu__flexbox__food-item__box__text__comment__price {
  font-size: 0.9rem;
  font-weight: bold;
  color: #262626;
  margin: 0rem 1rem 0rem 0rem;
}
.restaurant__menu__flexbox__food-item__box__order-animation {
  display: none;
  position: relative;
  top: -1rem;
  height: 4.2rem;
}
.restaurant__menu__flexbox__food-item__box__order-animation__background {
  background-color: #99E2D0;
  border-radius: 0rem 1rem 1rem 0rem;
  padding: 1.3rem 1rem 0rem 1rem;
}
.restaurant__menu__flexbox__food-item__box__order-animation__icon {
  background-color: white;
  color: #99E2D0;
  padding: 0.2rem;
  border-radius: 1rem;
}

@keyframes food-order {
  0% {
    width: 0rem;
  }
  100% {
    width: 4rem;
  }
}
@keyframes icon-animation {
  0% {
    transform: rotate(360deg) scale(1);
  }
  20% {
    transform: rotate(260deg);
  }
  40% {
    transform: rotate(160deg);
  }
  60% {
    transform: rotate(60deg);
  }
  80% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ingredients-ellipsis {
  0% {
    width: auto;
  }
  100% {
    width: 12rem;
  }
}
@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
/*media queries*/
/*Tablet*/
@media (min-width: 768px) and (max-width: 2560px) {
  html {
    min-width: 768px;
    max-width: 2560px;
  }

  .article-title {
    text-align: center;
    margin-bottom: 2rem;
  }

  .how-to-order {
    margin: 1rem 0rem 1rem 0rem;
  }
  .how-to-order__flexbox {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  .how-to-order__flexbox li {
    width: fit-content;
    margin: 2rem 1rem 2rem 1rem;
  }

  .restaurants__flexbox {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .restaurant-intro__image {
    width: 100%;
  }
  .restaurant-intro__name {
    text-align: center;
  }

  .restaurant__menu__flexbox {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  .restaurant__menu__flexbox__title {
    width: 100%;
  }

  .primary-button--restaurant {
    margin-left: 45%;
  }

  footer .logo {
    margin-left: 50%;
  }
  footer .about {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }
  footer .about li {
    margin: 0rem;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .restaurant__menu__flexbox__food-item {
    align-self: center;
  }

  .primary-button--restaurant {
    margin-left: 43%;
  }

  footer .about {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 7rem;
  }
  footer .about li {
    width: fit-content;
    white-space: nowrap;
  }
}

/*# sourceMappingURL=style.css.map */
