/*Keyframes*/

@keyframes after-animation
{
    0%
    {
        transform: scale(1.05);
        filter: brightness(115%);
        box-shadow: 0.1rem 0.2rem 0.5rem 0.1rem darken($color: #d8d8d8, $amount: 40);
    }
    100%
    {
        transform: scale(1);
        filter: brightness(100%);
        box-shadow: $box-shadow;
    }
}
@keyframes hover-animation
{
    100%
    {
        transform: scale(1.05);
        filter: brightness(115%);
        box-shadow: 0.1rem 0.2rem 0.5rem 0.1rem darken($color: #d8d8d8, $amount: 40);
    }
}
@keyframes loader__background
{
    0%
    {
        transform: scale(0.7);
        opacity: 1;
    }
    50%
    {
        transform: scale(1.45);
    }
    85%
    {
        transform: scale(0.8);
    }
    85%
    {
        opacity: 1
    }
    99%
    {
        transform: scale(0.7);
    }
    100%
    {
        display: none;
    }
}
@keyframes loader
{
    0%
    {
        transform: scale(0.9) rotate(-90deg);
        opacity: 0.8;
    }
    40%
    {
        transform: scale(1.6);
    }
    50%
    {
        transform: scale(1.5) rotate(180deg);
    }
    80%
    {
        transform: scale(1.2);
    }
    88%
    {
        opacity: 0.8;
    }
    100%
    {
        transform: scale(0.9) rotate(280deg);
    }
}
@keyframes page
{
    0%
    {
        opacity: 0;
    }
    99%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes food-item__animation
{
    0%
    {
        transform:translatex(-5rem);
        opacity: 0;
    }
    100%
    {
        transform:translatex(0rem);
        opacity: 1;
    }
}

@keyframes icon-animation
{
    0%
    {
        transform: rotate(-360deg) ;
    }
    20%
    {
        transform: rotate(-260deg);
    }
    40%
    {
        transform: rotate(-160deg);
    }
    60%
    {
        transform: rotate(-60deg) ;
    }
    80%
    {
        transform: rotate(0deg);
    }
}

@keyframes ingredients-ellipsis
{
    0%
    {
        width: 16rem;
    }
    100%
    {
        width: 12rem;
    }
}

@-webkit-keyframes animation-on-order {
    0% 
    { 
        /*opacity: 0;*/ 
        -webkit-transform: /*translateX(10%)*/ scaleX(0); 
        -webkit-transform-origin: right;
    }   
  100% 
    { 
        /*opacity: 1; */
        -webkit-transform: /*translateX(0)*/ scaleX(1); 
        -webkit-transform-origin: right;
    }
}
@-moz-keyframes animation-on-order {
    0% 
    { 
        /*opacity: 0;*/
        -moz-transform: /*translateX(10%)*/ scaleX(0); 
        -webkit-transform-origin: right;
    }   
    100% 
    {
        /*opacity: 1;*/
        -moz-transform: /*translateX(0)*/ scaleX(1); 
        -webkit-transform-origin: right;
    }
}
