    /*media queries*/
/*Desktop*/
@media (min-width: 2250px)
{
    .restaurant-menu
    {
        margin: 15rem;
    }
    footer
    {
        position: absolute;
    }
}

/*Tablet*/
@media (min-width: 768px)
{
    html
    {
        min-width: 768px;
        min-height: 100%;
    }
    body
    {
        min-height: 100% !important;
    }
    .article-title
    {
        text-align: center;
        margin-bottom: 2rem;
    }
    .how-to-order
    {
        margin: 1rem 0rem 1rem 0rem;
        &__flexbox
        {
            flex-flow: row wrap;
            justify-content: space-evenly;
            & li
            {
                width: fit-content;
                margin: 2rem 0rem 2rem 0rem;
            }
        }
    }
    .restaurants__flexbox
    {
        flex-flow: row wrap;
        justify-content: space-evenly;
        &__box
        {
            margin: 2rem;
        }
    }
    .restaurant-intro
    {
        &__image
        {
           width: 100%;
        }
        &__name
        {
            text-align: center;
        }
    }
    .restaurant-menu
    {
        &__flexbox
        {
            flex-flow: row wrap;
            justify-content: space-evenly;
            &__title
            {
                width: 100%;
            }
        }
    }
    footer
    {
        & .logo
        {
            margin-left: 47%;
        }
        & .about
        {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            & li
            {
                margin: 0rem;
            }
        }
    }
}
@media (min-width: 426px) and (max-width: 767px)
{
    .food-item
        {
            align-self: center;
        }
    footer 
    {
        & .about
        {
            display: flex;
            flex-flow: column wrap ;
            justify-content: space-between;
            height: 7rem;
            & li 
            {
                width: fit-content;
                white-space: nowrap;
            }
        }
    }
}
@media (max-width:374px) 
{
   .food-item
    {
        width: 16rem;
    }
    .food-item__box__text__comment__ingredients
    {
        font-size: 0.6rem;
    }
    .far.fa-heart.empty--menu
    {
        right: -1rem;
    }
}